body{
    background-color: #F8F8F8;
}
.container {
    width: 80%;
    margin-top: 20px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-section {
    flex: 1;
}

.left-section img {
    width: 100%;
    display: block;
    border-radius: 20px 0 0 20px;
}

.right-section {
    flex: 1;
    padding: 20px;
}

.right-section h2 {
    margin-top: 0;
}

.buy-button,
.cart-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover,
.cart-button:hover {
    background-color: #0056b3;
}

.container-fluid0 {
    width: 95%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font: italic;
}

p {
    margin-left: 10px;
}

h4 {
    margin-left: 10px;
}

hr {
    width: 95%;
    margin-left: 2.5%;
}